<% layout('/partials/boilerplate')%>
<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="error.jpg" class="m-4">
    <h1><%=statusCode%></h1>
    <h2><%=message%></h2>
</div>