<% layout('/partials/boilerplate')%>
<div class="d-flex flex-column justify-content-center align-items-center">
    <form class='w-50' action='/register' method="POST" novalidate>
        <h1 class="align-text-center w-100">Register</h1>
        <div class="mb-3 d-flex flex-column">
            <label for="email" class="form-label">Email</label>
            <input type='email' id=email name='email' required>
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="password" class="form-label">Password</label>
            <input type='password' id=password name='password' required></textarea>
        </div>
        <div id="passwordRequirments" class="text-muted">
            <p class='m-0'><u>Password must contain:</u></p>
            <%if (passwordErr.includes('passwordComplexity.tooShort')){%>
                <p class="m-0 text-danger">8 or more characters</p>
            <%}else{%>
                <p class="m-0">8 or more characters</p>
            <%}%>

            <%if (passwordErr.includes('passwordComplexity.uppercase')){%>
                <p class="m-0 text-danger">Atleast 1 uppercase character(A-Z)</p>
            <%}else{%>
                <p class="m-0">Atleast 1 uppercase character(A-Z)</p>
            <%}%>
            <%if (passwordErr.includes('passwordComplexity.lowercase')){%>
                <p class="m-0 text-danger">Atleast 1 lowercase character(a-z)</p>
            <%}else{%>
                <p class="m-0">Atleast 1 lowercase character(a-z)</p>
            <%}%>
            <%if (passwordErr.includes('passwordComplexity.numeric')){%>
                <p class="m-0 text-danger">Atleast 1 number (1-9)</p>
            <%}else{%>
                <p class="m-0">Atleast 1 number (1-9)</p>
            <%}%>
            <%if (passwordErr.includes('passwordComplexity.symbol')){%>
                <p class="m-0 text-danger">Atleast 1 special character</p>
            <%}else{%>
                <p class="m-0">Atleast 1 special character</p>
            <%}%>
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="password" class="form-label">Password</label>
            <input type='password' id=confirmPassword name='confirmPassword' required></textarea>
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="myZip" class="form-label">Zipcode</label>
            <input id="myZip" name="myZip" type="text" pattern="[0-9]*" required>
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="phone" class="form-label" required>Phone Number</label>
            <input type="tel" id="phone" name="phone" required>
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="preferredContact" class="form-label">Preferred Contact Method</label>
            <select class="form-select" name="preferredContact" aria-label="Default select example">
                <option value="Phone" selected>Phone</option>
                <option value="Email">Email</option>
            </select>
        </div>
        <button class="btn btn-outline-success w-100" type="submit">Register</button>
    </form>
</div>
