.productImg{
    max-width: 100%;
    width:200px;
    height:200px;
}

.homeProduct a{
    text-decoration: none;
    color:black;
}

a{
    text-decoration:none;
    color:black;
}

.invis{
    display:none;
}

.carousel-item {
    overflow: hidden;
    height: 500px;
    width: 500px;
}
.carousel-item img {
    overflow: hidden;
    width: 500px;
}