<% layout('/partials/boilerplate')%>
<form class='w-50' action='/products' method="POST">
    <div class="mb-3 d-flex flex-column">
        <label for="productTitle" class="form-label">Product Title</label>
        <input type='text' id=productTitle name='productTitle'>
    </div>
    <div class="mb-3 d-flex flex-column">
        <label for="productDescription" class="form-label">Description</label>
        <textarea id=productDescription name='productDescription' rows="5" col='50'></textarea>
    </div>
    <div class="mb-3 d-flex flex-column w-25">
        <label for="productPrice" class="form-label">Price</label>
        <input type='number' id=productPrice name='productPrice'>
    </div>
    <button>Submit</button>
</form>